:root {
    --highlight-color: rgb(160, 80, 220);
}

.bg-highlight {  background-color: var(--highlight-color); }

.darken-25 {
    background-color: rgba(0, 0, 0, 0.25);
}

.darken-50 {
    background-color: rgba(0, 0, 0, 0.5);
}

.darken-75 {
    background-color: rgba(0, 0, 0, 0.75);
}
.darken-85 {
    background-color: rgba(0, 0, 0, 0.85);
}

.darken-95 {
    background-color: rgba(0, 0, 0, 0.95);
}

.bgblur-10 {
    backdrop-filter: blur(10px);
}

.bgblur-5 {
    backdrop-filter: blur(5px);
}

.tieritem {
    aspect-ratio: 1/1;
    height: 100px;
    width: 100px;
}

.tieritemsmall {
    aspect-ratio: 1/1;
    height: 64px;
    width: 64px;
}

.clickable {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.clickable-cursor {
    cursor: pointer;
}

.clickable:hover img {
    border: solid!important;
    border-width: 0.25vw!important;
    transition: border-width 0.25s;
}

.clickable:hover p {
    border: solid !important;
    border-width: 0.25vw !important;
    transition: border-width 0.25s;
}

.clickable:hover {
    color: var(--color-highlight);
    transition: color 0.25s;
}

.clickable:hover h4 {
    color: white;
    mix-blend-mode: overlay;
    transition: mix-blend-mode 0.25s;
}

.draggable {
    cursor: crosshair;
    touch-action: none;
}
.draggable:hover h3 .team span {
    color: var(--color-highlight)!important;
    transition: color 0.25s;
}

    .draggable:hover h3 {
        color: white;
        mix-blend-mode: overlay;
        transition: mix-blend-mode 0.25s;
    }

    .draggable:hover h4 {
        color: white;
        mix-blend-mode: overlay;
        transition: mix-blend-mode 0.25s;
    }

    .draggable:hover h5 {
        color: white;
        mix-blend-mode: overlay;
        transition: mix-blend-mode 0.25s;
    }

.hidden 
{
    display: none!important;
    transition: display 0.5s;
}

.spinput {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    border: solid;
    border-width: 1px;
}

.tierput {
    text-align: center;
    background-color: transparent;
    border: none;
    aspect-ratio: 1/1;
    max-height: 100px;
}

.template {
    border: dashed;
    border-color: rgba(255, 255, 255, 0.75);
}

.maiedal {
    z-index: 1;
    margin: 5% 5% 5% 5%;
    left: 0;
    top: 0;
    width: 90%;
    height: 90%;
    overflow: auto;
}

.hole {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5vw;
}

.smoothScaling {
    transition: height 0.25s, width 0.25s
}

.smoothBlending {
    transition: color 0.25s, background-color 0.25s
}
