@page "/tier"
@using System.Globalization
@using System.Collections
@using Microsoft.Extensions.Logging
@using Microsoft.Maui.Media
@using Microsoft.Maui.Storage
@using MudBlazor
@using Microsoft.AspNetCore.Components.Web.Virtualization
@inject ILogger<TierListComp> Logger
@inject IJSRuntime JSRuntime
<link href="css/charactercolor.css" rel="stylesheet" />

<div style="overflow: hidden">
	<div class="maiedal align-content-center">
		<div class="d-flex p-1 p-md-2 col-12 col-md-6 darken-85 flex-column mx-auto my-auto shadow" style="border-radius: 1vw">
			<div class="d-flex p-2 text-end justify-content-end">
				<a class="clickable" @onclick="Exit">✖</a>
			</div>
			<div class="d-flex flex-column text-center justify-content-center mx-auto col-sm-1 py-1 py-sm-1 py-md-auto">
				<input type="text" value="@selectier.name" class="rounded fs-2 py-md-auto py-1 m-0 text-center flex-fill col-12 text-wrap" @onchange="(e) => ChangeTierName(e.Value?.ToString(), selectier.ogname)" placeholder="Tier Title" style="background-color: @selectier.color ; color: @GlobalStyleFunctions.GetMostReadableTextColor(selectier.color)">
			</div>
			<MudColorPicker Label="Tier Color" @bind-Text="selectier.color" Style="@($"color: {selectier.color};")" Placeholder="Select Color" />
			<button class="mx-2 text-danger" @onclick="YouSure">Remove</button>
		</div>
	</div>
	@if (yousure)
	{
		<div class="maiedal d-flex flex-column text-center align-items-center align-content-center justify-content-center">
			<div class="p-2 p-md-4 darken-85 d-flex rounded text-center flex-column justify-content-center mx-auto text-light col-5 border-2 border-light shadow">
				<h5> Are you sure you want to permanently remove this tier? All items will be deleted with it!</h5>
				<div class="d-flex flex-row flex-wrap mx-auto">
					<button class="mx-2 text-light" @onclick="YouSure">No</button>
					<button class="mx-2 text-danger" @onclick="DeleteTier">Yes, remove it and all items within</button>
				</div>
			</div>
		</div>
	}
</div>

@code
{
	[Parameter]
	public required TierList selected { get; set; }

	[Parameter]
	public required Tier selectier{ get; set; }

	[Parameter]
	public EventCallback OnSave { get; set; }
	[Parameter]
	public EventCallback OnExit { get; set; }

	[Parameter] 
	public EventCallback<string> OnExport { get; set; }

	[Parameter]
	public EventCallback<string> OnModified { get; set; }

	[Parameter]
	public EventCallback<string> OnLoadingStart { get; set; } // string is loading message

	[Parameter]
	public EventCallback<string> OnLoaded { get; set; } // string is optional loading complete message

	bool Loading = true;

	// modal confirm
	bool yousure;

	string temptiername = "";

	bool mobile;

	// ---------- GENERAL FUNCTIONS
	protected override async Task OnInitializedAsync()
	{
		mobile = OperatingSystem.IsAndroid() || OperatingSystem.IsIOS();
		await OnLoaded.InvokeAsync();
		Loading = false;
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender) {
			await OnLoaded.InvokeAsync();
			Loading = false;
		}
	}

	// ---------- YOU SURE MODAL TOGGLING
	void YouSure()
	{
		yousure = !yousure;
	}

	void Toggle(ref bool thing)
	{
		thing = !thing;
	}

	// ---------- EXITING MODAL
	async Task Exit()
	{
		await OnExit.InvokeAsync();
	}

	// ---------- CHANGING TIER NAME
	async Task ChangeTierName(Tier tier)
	{
		await ChangeTierName(tier.name, tier.ogname);
	}

	async Task ChangeTierName(string? neww, string old)
	{
		Logger.LogInformation($"{neww}");
		if (String.IsNullOrEmpty(neww)) return;
		Tier? temp = selected.tiers[old];
		selected.tiers.Remove(old);

		while (true)
		{
			try
			{
				selected.tiers.Add(neww, temp);
				break;
			}
			catch
			{
				neww += " (1)";
			}
		}
		temp.name = neww;
		temp.ogname = neww;
		temp = null;
		await OnModified.InvokeAsync(neww);
		await OnSave.InvokeAsync();
	}

	void ChangeTierName(ChangeEventArgs e, string old)
	{
		if (temptiername != "")
			ChangeTierName(temptiername, old);
		temptiername = "";
	}

	async Task StoreTierName(ChangeEventArgs e)
	{
		//temptiername = neww;
		string h = await JSRuntime.InvokeAsync<string>("getPlainText", temptiername);
		Logger.LogInformation(h);
	}

	// ---------- TIER DELETION
	void Remove(string tier)
	{
		yousure = !yousure;
	}

	async Task DeleteTier()
	{
		selected.tiers.Remove(selectier.ogname);
		selected.ModifiedNow();
		YouSure();
		await OnExit.InvokeAsync();
		await OnSave.InvokeAsync();
		
	}
}